extends layout

block content
  .titleContainer
    h1= title
  #loginContainer.inbody
    div
      input(type="test",name="name",id="username")
    div
      input(type="button",value="Start Voting!",id="usernameSubmit")
  
  #voteSessionContainer.inbody
      #voteContainer
        input(type="button",value="#{lowLabel}",id="low")
        #ratingDisplayContainer
            div.progress.rating
                div#progressRating.bar(ratingVal=#{rating})
        input(type="button",value="#{highLabel}",id="high")
        
      #peopleContainer
        .importantText People Voting
        #peopleList