body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#voteSessionContainer {
    line-height: normal;
}

a {
  color: #00B7FF;
}



.titleContainer {
    border-bottom: 1px solid #EFECE5;
}
.inbody {
    padding: 10px;
}
.importantText {
    font-weight: bold;
}
#voteContainer div {
    display: inline-block;
    text-align: left;
}
#ratingDisplayContainer {
    padding: 0px 10px;
    vertical-align: middle;
}
.rating.progress {
    width: 200px;
    height: 30px;
    margin-bottom: 0px;
}

#voteContainer .progress .bar{
    height: 30px;
}
.progress .bar[ratingVal="-4"] {
    width: 0%;
}
.progress .bar[ratingVal="-3"] {
    width: 12.5%;
}
.progress .bar[ratingVal="-2"] {
    width: 25%;
}
.progress .bar[ratingVal="-1"] {
    width: 37.5%;
}
.progress .bar[ratingVal="0"] {
    width: 50%;
}
.progress .bar[ratingVal="1"] {
    width: 62.5%;
}
.progress .bar[ratingVal="2"] {
    width: 75%;
}
.progress .bar[ratingVal="3"] {
    width: 87.5%;
}
.progress .bar[ratingVal="4"] {
    width: 100%;
}

.decision {
    font-size: 150px;
    font-weight: bold;
    height: 100px;
    display: none;
}
.decision.visible {
    display: block;
}
#tooSlow {
    color: #3FB54D;
}
#tooFast {
    color: #D62222;
}
#justRight {
    color: #B8B8B8;
}
#voteWrapper {
    position: relative;
}
#voteWrapper[ratingVal="-4"] #tooSlow {
    opacity: 1;
}
#voteWrapper[ratingVal="-3"] #tooSlow {
    opacity: 0.5;
}
#voteWrapper[ratingVal="-2"] #tooSlow {
    opacity: 0.2;
}
#voteWrapper[ratingVal="-1"] #tooSlow {
    opacity: 0.1;
}
#voteWrapper[ratingVal="0"] .decision {
    opacity: 0;
}
#voteWrapper[ratingVal="0"] #justRight {
    opacity: 1;
}
#voteWrapper[ratingVal="1"] #tooFast {
    opacity: 0.1;
}
#voteWrapper[ratingVal="2"] #tooFast {
    opacity: 0.2;
}
#voteWrapper[ratingVal="3"] #tooFast {
    opacity: 0.5;
}
#voteWrapper[ratingVal="4"] #tooFast {
    opacity: 1;
}

#peopleContainer {
    overflow-y: auto;
    font-size: 13px;
    color: white;
    position: absolute;
    background: rgba(54, 25, 25, .5);
    top: 25px;
    left: 41%;
    height: 150px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 20px 5px rgba(54, 25, 25, .5);
    border-radius: 15px;
}